.vscode/**
.vscode-test/**
.github/**
src/**
docs/**
out/test/**
*.code-workspace
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
esbuild.mjs
**/*.map
**/*.ts
**/.vscode-test.*
node_modules/**
.mcp.json
